# This is for if you want files to be ignored
*.gitignored.*

.*.swp

# ignore the mac finder droppings:
.DS_Store
.byebug_history

/installers/.*.installed_with_version.*
/installers/.*.configured_with_version.*
/installers/.*.updated_with_version.*
lib/coverage_links/*

__pycache__/

/coverage/
