# This is for if you want files to be ignored
*.gitignored.*

.*.swp

# ignore the mac finder droppings:
.DS_Store

/installers/.*.installed_with_version.*
/installers/.*.configured_with_version.*
/installers/.*.updated_with_version.*

__pycache__/

/coverage/
