# This is for if you want files to be ignored
# ===========================================

# Nice generic way to get your file ignored, just name it accordingly:
*.gitignored.*

# Ignore vim swap files:
.*.sw[nop]

# ignore the mac finder droppings:
.DS_Store

.byebug_history

/installers/.markers/*.installed_with_version.*
/installers/.markers/*.configured_with_version.*
/installers/.markers/*.updated_with_version.*
lib/coverage_links/*

/logs/*

__pycache__/

/coverage/
